h1, h2, h3,.header, .sub-header, .title, .description, .button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#template-exception {
    width: 100%;
}

.header {
    font-weight: 600;
    font-size: 1.125rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.sub-header {
    font-size: 0.93rem;
    font-weight: 400;
    display: inline-block;
}

.exception-container {
    border: 1px #D4DADD solid;
    border-radius: 0.5rem;
    height: 0.75rem 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    width: 50%;
}

.exception-container-body {
    margin: 1rem 0;
}

.exception-container-body,
.exception-container-title {
    display: flex;
    flex-direction: column;
}

.body-row-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body-row-container .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.body-row-container .row .item,
.body-row-container .row .description {
    padding: 0.3rem 0;    
    font-weight: 400;
    font-size: 0.875rem;
}

.sub-header,
.body-row-container .row .item.title {
    color: #616F76;
}

.body-row-container .row .item.description {
    color: #333333
}

.exception-container-body .control .left ,
.exception-container-body .control .right,
.exception-container-body .control {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.exception-container-body .control {
    margin-top: 1rem;
}

.exception-container-body .control .right {
    justify-content: flex-end;
    width: 50%;
}

.exception-container-body .control .left .button{
    margin-right: 1rem;
}

.button {
    border-radius: 4px;
    border: 1px #616F76 solid;
    padding: 0.5rem 0.75rem;
    color: #616F76;
    font-size: 0.93rem;   
}

.button:hover {
    cursor: pointer;
}